@use '../../../../_css/queries.scss' as *;


.footerMenu {
    display: grid;
    grid-gap: 1.5rem;
    flex-shrink: 0;
    p {
        font-weight: 700;
    }
    ul {
        display: grid;
        grid-gap: 0.65rem;
        margin: 0;
        padding: 0;
        
        a{
            color: inherit;
            text-decoration: inherit;
            opacity: 0.5;
            font-weight: 400;
            // font-size: 15px;
            &:hover {
                opacity: 0.9;
                transition: 0.1s ease-in-out;    
            }
        }
    }
}