@use '../../../../_css/queries.scss' as *;

.subscribe {
    background: var(--color-footer-blue-300);
    padding-bottom: 18px;
    text-align: center;
}
.title {
    padding: 18px;
}
.formContainer {
    display: flex;
    justify-content:center;
    
    @include small-break {

      }

      
   
}
.form {
    position: relative;
  }

  .input {
    background-color: var(--color-footer-gray-500);
    padding: 0.75rem;
    font-size: 0.875rem;
    border: 2px;
    border: var(--color-footer-gray-500);
    width: 350px;
    border-radius: 9999px;
    &:focus {
        outline: none;
        border: 2px;
        border: var(--color-footer-gray-300);
    }
    
    
   
    @include large-break {
        width: 350px;
            }
            @include mid-break {
                width: 300px;
                    }
                    @include small-break {
                        width: 200px;
                        font-size: 0.6rem;
                            }
                        @include extra-small-break {
                            width: 150px;
                            font-size: 0.5rem;
                                }
            
  }

.button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border-left: 0;
    border-top: 0;
    border-right:0;
    border-bottom: 0;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    width: 100px;
    height: 100%;
    background-color: var(--color-footer-gray-500);
    cursor: pointer;

    &:focus{
        outline: none;
    }
    &:hover{
        background-color: var(--color-footer-black-500);
        transition: background-color 1000ms ease-out, color 1000ms ease-out;
        svg{
            fill: white;
        }
    }
    svg{
        width: 30%;
        height: auto;
    }

    @include large-break {
        width: 80px;
            }
            @include mid-break {
                width: 70px;
                    }
                    @include small-break {
                        width: 50px;
                            }
                        @include extra-small-break {
                            width: 40px;
                                }
    
}

