@use '../../../../_css/queries.scss' as *;

.popupContainer {
    padding-bottom: 0;
    position: relative;
    
}

.popupButton {
    
    &:hover {   
        border-radius: 25px;
        background-color: rgb(92, 90, 90);
        transform: scaleX(1.015) scaleY(1.035) perspective(1px);   
    }
    
    span{
        padding: 5px;
        color: white;

        @include extra-small-break {
            display: none;
        }
    }

    
}
