@use '../../_css/queries.scss' as *;
.dropdown {
    position: relative;
    // span {
    //     z-index: 1;
    // }
  }
  
  .selectedOption {
    padding: 8px 16px;
    // border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    z-index: 1;
    
    span{
        color: var(--color-white-500);
        font-size: calc(var(--base) / 1.6);
        
    }
    
  }

  .changeLinkColor{
    span{
        color: var(--color-black-500)
    }
    
  }
  
  .arrowDown,
.arrowUp {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
}

.arrowUp {
  transform: translateY(-50%) rotate(180deg);
}
  
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
    span{
        font-size: calc(var(--base) / 1.6);
        
    }
  }
  
  .options > div {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 8px 16px;
    cursor: pointer;
  }
  
  .options > div:hover {
    background-color: #f0f0f0;
  }