@use '../../../../_css/queries.scss' as *;

.footerFormContainer {
    display: grid;
    grid-gap: 1.5rem;
    p{
        font: var( --base) / 1.6;
        line-height: 1.2;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.0em;
    }
}
.footerForm {
    display: grid;
    align-content: start;
    max-width: 400px;
    position: relative;
    input{
        height: calc(3.125rem + 0.625rem);
        font-size: 100%;
        appearance: none;
    }
    
}
.formInput {
    width: 100%;
    background: transparent;
    border-radius: 0;
    border-width: 1px;
    border-color: rgb(180, 175, 175) ;
    border-style: solid;
    padding: 16px 20px 0 20px;
    &:focus{
        outline: none; 
    }
}
// .formInputFocused {
//     border: 1px solid rgb(180, 175, 175)
// }
.formLabel{
    position: absolute;
    top: 0;
    margin-left: 20px;
    height: calc(3.125rem + 0.625rem);
    opacity: 0.5;
    align-items: center;
    display: grid;

}
.formLabelFocused {
    position: absolute;
    margin-left: 20px;
    top: 10px;
    // left: 10px;
    font-size: 16px;
    opacity: 0.4;
    transform: scale(.65) translateY(calc(-1 * 1rem));
    transition: transform .3s ease-in-out;
  }
.submitButton {
    
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 1.25rem;
    
    
    button{
        cursor: pointer;
        display: grid; 
        width: 1.5rem;
        height: 1.5rem;
        background: rgb(204, 199, 199);
        place-items: center;
        border: none;
        border-radius: 9999px;
        transition: all .2s ease-in-out;
        &:focus{
            outline: none; 
        }
    }
    :hover {
        background: var(--color-dark-500);
        transition: all .2s ease-in-out;
        svg {
            stroke: rgb(204, 199, 199);
        }
    }
}
.inputContainer {
    position: relative;
  }
  