@use '../../../_css/queries.scss' as *;

.footer{
    background: var(--color-footer-blue-700);
}

.extraLinks {
    display: flex;
    // flex-direction: row-reverse;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    color: var(--color-footer-white-500);
    
    @include mid-break {
        display: block;
    }
}

.footerBottom{
    padding: 18px 24px;
    background: var(--color-footer-black-500);
}
.footerBottomContainer {
    display: flex;
    padding: 0 36px;
    align-items: center;
    font-size: 12.99px;
    line-height: 1.4;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;

    @include mid-break {
        display: block;
    }
}
